<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/jpg" href="static/favicon.ico"/>
        <link rel="stylesheet" href="static/app.css" />
        <title>Coin Limits</title>
    </head>
    <body>
        <h1>r/CC Coin Limits</h1>
        <div id=container>
            <div class="coin-limits">
                <h3 class="limits-title">Current Limits</h3>
                <div id="coin-limits"></div>
                <p>all other coins have a limit of 2</p>
            </div>
            <div>
                <h3 class="limits-title">Current Posts in Top50</h3>
                <div id="coin-posts" class="flex"></div>
            </div>
            <div>
                <h3 class="limits-title">Coins currently at limit</h3>
                <div id="limited" class="flex"></div>
            </div>   
        </div>
        <script src="static/app.js"></script>
    </body>
</html>