<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="Current Coin/Topic limits for r/cryptocurrency" />
      <link rel="shortcut icon" type="image/jpg" href="static/favicon.ico" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="static/app.css" />
      <title>Coin Limits</title>
   </head>
   <body>
      <div id="container">
         <div class="timestamp"></div>
         <div class="coin-limits">
            <div class="title">
               <img src="static/images/cclogo.webp" />
               <h1>r/CryptoCurrency Coin/Topic Limits</h1>
            </div>
            <div class="deprecate">Please use the new URL at <a href="https://cctopiclimits.onrender.com/">https://cctopiclimits.onrender.com/</a></div>
         </div>
      </div>
   </body>
</html>
